* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bg-color: #2e86de;
$text-color: rgb(152, 228, 30);
$message-color: rgb(165, 231, 59);

@mixin flexproperties {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  place-items: center;
}

@mixin identicaltextformat($par1, $font, $cap) {
  background-color: $bg-color;
  font-size: $font;
  color: $text-color;
  letter-spacing: $par1;
  text-transform: $cap;
}

//1.operators
//2.variables
//3.nesting
//4. mixing
//5.parameter

.main_header {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;
  @include flexproperties;
  h1 {
    @include identicaltextformat(2rem, 7rem, capitalize);

    &:hover {
      background-color: rgb(231, 59, 59);
    }
    &::after {
      content: "World";
    }
  }

  p {
    @include identicaltextformat(0.1rem, 5rem, lowercase);

    &:hover {
      background-color: rgb(231, 199, 59);
    }
  }
}
