@import "mixin";
@import "var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//1.operators
//2.variables
//3.nesting
//4. mixing
//5.parameter
//6.partials

.main_header {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;
  @include flexproperties;
  h1 {
    @include identicaltextformat(2rem, 7rem, capitalize);

    &:hover {
      background-color: rgb(12, 83, 131);
    }
    &::after {
      content: "World";
    }
  }

  p {
    @include identicaltextformat(0.1rem, 5rem, lowercase);

    &:hover {
      background-color: rgb(231, 199, 59);
    }
  }
}


.container-items{

    height: 30vh;
    width: 100vw;
    background-color: wheat;
    display: flex;
    .circle-items{
        height: 100px;
        width: 100px;
        margin: 10px;
        background-color: yellow;
        color: rgb(10, 10, 10);
        border-radius: 90px;
        p{
            @include flexproperties;
            height: 100px;
            width: 100px;
        }
        &:hover{
            background-color: yellowgreen;
            cursor: pointer;
        }
    }

}


